/*
Dark Mode stylesheet for simbalou.com
2021 All Rights Reserved.
*/

@import 'styling.css';

body {
    background-color: #232529 !important;
    color: white !important;
}

.dogtile {
    background-color: #1d1f21 !important;
    color: white !important;
    border: black;
}

.dogtile:hover {
    box-shadow:  10px 10px 20px #18191b,
             -10px -10px 20px #222527 !important;
}

.splitter-dot {
    color: white !important;
}

.foot-link {
    color: white !important;
}

.dogpic img {
    background-color: #1d1f21;
}

.title {
    color: white;
}